<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
			default-autowire="byName">

	<bean id="tu" class="com.otmanel.springAdvancedAop.beans.TextUtils">
	</bean>
	<bean id="trimAdvice" class="com.otmanel.springAdvancedAop.beans.TrimAdvice">
	</bean>
	<bean id="nullAdvice" class="com.otmanel.springAdvancedAop.beans.NullStringProtectionAdvice">
	</bean>
	<bean id="afterAdvice" class="com.otmanel.springAdvancedAop.beans.MyRetourAdvice"></bean>
	<bean id="fullAdvice" class="com.otmanel.springAdvancedAop.beans.MyFullAdvice">
	</bean>
	<aop:config>
		<aop:pointcut
		 expression="execution(* com.otmanel.springAdvancedAop.beans.TextUtils.inversion(java.lang.String))"
		 id="pc1"/>
		 <aop:pointcut
		 expression="execution(* com.otmanel.springAdvancedAop.beans.TextUtils.compte*(java.lang.String))"
		 id="pc2"/>
		 <aop:advisor advice-ref="trimAdvice" pointcut-ref="pc1" order="100"/>
		 <aop:advisor advice-ref="nullAdvice" pointcut-ref="pc1" order="1"/>
		 <!--  <aop:advisor advice-ref="nullAdvice" pointcut-ref="pc2" order="10"/>-->
		 <aop:advisor advice-ref="afterAdvice" pointcut-ref="pc1" />
		 <aop:advisor advice-ref="fullAdvice" pointcut-ref="pc2" />
	</aop:config>
</beans>
