<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
			default-autowire="byName">

	<bean id="client1" class="com.otmanel.springEventExpression.beans.Client">
		<property name="id" value="#{generator.nextId()}" /> <!-- $ pour fichier propertie alors qie # expression a evaluer -->
		<property name="nom" value="#{nomStar[0]}" />
		<property name="mail" value="#{nomStar[0] + '@holliwood.com'}" />
		<property name="solde" value="600.0" />
	</bean>
	
	<bean id="client2" class="com.otmanel.springEventExpression.beans.Client">
		<property name="id" value="#{generator.nextId()}" /> <!-- $ pour fichier propertie alors qie # expression a evaluer -->
		<property name="nom" value="#{nomStar[1]}" />
		<property name="mail" value="jet.li@holliwood.com" />
		<property name="solde" value="6000.0" />
	</bean>
	<bean id="client3" class="com.otmanel.springEventExpression.beans.Client">
		<property name="id" value="#{generator.nextId()}" /> <!-- $ pour fichier propertie alors qie # expression a evaluer -->
		<property name="nom" value="#{nomStar[2]}" />
		<property name="mail"><null/></property>
		<property name="solde" value="#{client2.solde*3}" />
	</bean>
	<bean id="client4" class="com.otmanel.springEventExpression.beans.Client">
		<property name="id" value="#{generator.nextId()}" /> <!-- $ pour fichier propertie alors qie # expression a evaluer -->
		<property name="nom" value="#{nomStar[3].toUpperCase()}" />
		<property name="mail" value="#{client3.mail ?.toUpperCase()}" />
		<property name="solde" value="#{client2.solde*3}" />
	</bean>
	<bean id="client5" class="com.otmanel.springEventExpression.beans.Client">
		<property name="id" value="#{generator.nextId()}" /> <!-- $ pour fichier propertie alors qie # expression a evaluer -->
		<property name="nom" value="#{nomStar[4] }" />
		<property name="mail" value="#{client3.mail ?: 'bob.eponge'}" />
		<property name="solde" value="#{client2.solde* T(java.lang.Math).PI}" /> <!-- T == Type pour appel methode statique -->
	</bean>
	<bean id="generator" class="com.otmanel.springEventExpression.beans.IdGenerator">
		<constructor-arg index="0" value="1" />
	</bean>
	<util:list id="nomStar" value-type="java.lang.String">
		<value>willis.bruce</value>
		<value>jet.li</value>
		<value>wesley.snipes</value>
		<value>denzel.washington</value>
		<value>samuel.leeJackson</value>
	</util:list>
	<bean id="s1" class="com.otmanel.springEventExpression.beans.Site">
		<property name="id" value="#{generator.nextId()}" />
		<property name="nom" value="bakers and home" />
		<property name="adresse">
			<bean class="com.otmanel.springEventExpression.beans.Adresse">
				<property name="rue" value="221 rue bakersville" />
				<property name="ville" value="edinbourg" />
				<property name="codePostal" value="123456" />
				<property name="pays" value="ecosse" />
			</bean>
		</property>
	</bean>
	<bean id="s2" class="com.otmanel.springEventExpression.beans.Site">
		<property name="id" value="#{generator.nextId()}" />
		<property name="nom" value="bob" />
		<property name="adresse" value="2 rue des ananas; bikini beach;31000; toulouse plage" />
	</bean>
	<bean id="customConfig" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry 
					key="com.otmanel.springEventExpression.beans.Adresse" 
					value="com.otmanel.springEventExpression.beans.AdresseEditor" 
				/>
			</map>
		</property>
	</bean>
	<bean id="ecouteur1" class="com.otmanel.springEventExpression.beans.EcouteurGeneral">
		<property name="nom" value="ecouteur1" />
	</bean>
</beans>
